@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  color: #666666;
  background-color: #fdfbf1;
  line-height: 1.2;
}

body:before {
  position: fixed;
  top: -10px;
  left: 0;
  z-index: 100;
  content: '';
  width: 100%;
  height: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #fdfbf2;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

@media screen and (max-width: 476px) {
  .header .nav {
    display: flex;
  }
  .header .nav__list a {
    padding: 0 5px;
  }
}

.sign__main {
  width: 100%;
  height: 95vh;
  padding: 30px 0 0;
  background-color: #fdfbf2;
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
}

.sign__container {
  width: 60%;
  margin: 0 auto;
  margin-top: 94px;
  padding-bottom: 108px;
}

@media screen and (max-width: 476px) {
  .sign__container {
    width: 90%;
  }
}

.sign__form {
  width: 100%;
  background-color: white;
  padding: 30px 20px 10px;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
}

.login__main {
  width: 100%;
  padding: 30px 0 0;
  background-color: #fdfbf2;
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
}

.login__container {
  width: 60%;
  margin: 0 auto;
  margin-top: 94px;
  padding-bottom: 108px;
}

@media screen and (max-width: 476px) {
  .login__container {
    width: 90%;
  }
}

.login__form {
  width: 100%;
  background-color: white;
  padding: 30px 20px 10px;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
}

input[type="text"].first-text,
input[type="text"].sign-name,
input[type="text"].profile__name,
input[type="password"].first-pass,
input[type="password"].sign-pass,
input[type="password"].sign-repass {
  background: #fafafa;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding: 12px 4px 2px;
  transition: border-color 0.5s;
  margin-bottom: 0.75em;
  width: 100%;
  background-color: white;
  color: #666666;
}

input[type="text"].first-text:focus,
input[type="text"].sign-name:focus,
input[type="text"].profile__name:focus,
input[type="password"].first-pass:focus,
input[type="password"].sign-pass:focus,
input[type="password"].sign-repass:focus {
  border-bottom: 2px solid #29b8fa;
  outline: none;
}

input[type="submit"].login--btn {
  width: 70%;
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  border: none;
  background: #29b8fa;
  color: white;
  font-size: 18px;
}

input[type="submit"].login--guest {
  background: #2951fa;
}

@media screen and (max-width: 476px) {
  input[type="submit"].login--guest {
    font-size: 1.4rem;
  }
}

input[type="submit"].login--btn:hover {
  background-color: rgba(41, 184, 250, 0.5);
  transition: 0.5s;
}

input[type="submit"].login--guest:hover {
  background-color: rgba(41, 81, 250, 0.5);
  transition: 0.5s;
}

.nav__list {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.nav__list a {
  display: block;
  text-decoration: none;
  padding: 0 32px;
  letter-spacing: 2px;
  line-height: 50px;
  height: 50px;
  background-color: crimson;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}

.nav__list a:hover {
  cursor: pointer;
  color: #fff;
  background-color: crimson;
  border: 1px solid crimson;
}

.nav__login a {
  border: 1px solid #DC143C;
  background-color: #fdfbf1;
  color: #DC143C;
}

@media screen and (max-width: 476px) {
  .nav__list a {
    font-size: xx-small;
  }
}

.index__container {
  width: 90%;
  margin: 0 auto;
  padding: 87px 30px;
  overflow: hidden;
}

.index__herobanner {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.index__herobanner--title {
  letter-spacing: 3px;
  font-size: 1.8rem;
}

.index__panel {
  display: flex;
  flex-wrap: wrap;
}

.index__panel--container {
  width: 30%;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 6px #ccc;
  margin: 1.5rem;
}

.index__panel--container a {
  text-decoration: none;
}

@media screen and (max-width: 476px) {
  .index__container {
    padding: 87px 0;
  }
  .index__panel--container {
    width: 90%;
  }
}

.detail__writing-profile {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.panel-profile,
.detail__writing-profile a,
.comment__head {
  display: flex;
}

.detail__writing-profile a {
  color: #666;
}

.detail__writing-title {
  background: #eee;
  border: 2px solid #eee;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-top: 25px;
}

.panel-profile img,
.comment__head img,
.detail__writing-profile img {
  width: 48px;
  height: 48px;
  margin: 10px;
  border-radius: 24px;
  object-fit: cover;
}

.panel-profile p,
.detail__writing-profile p,
.comment__head p {
  color: #666666;
  padding-top: 0.5rem;
}

.panel-profile:hover {
  text-decoration: underline;
  text-decoration-color: #2390af;
}

.panel-profile:hover p {
  color: #2390af;
}

.panel-profile p:hover {
  color: #2390af;
  text-decoration: underline;
}

.season1 {
  border-left: thick solid rgba(255, 17, 246, 0.87);
  padding-left: 10px;
}

.season2 {
  border-left: thick solid rgba(17, 255, 35, 0.87);
  padding-left: 10px;
}

.season3 {
  border-left: thick solid rgba(255, 191, 17, 0.87);
  padding-left: 10px;
}

.season4 {
  border-left: thick solid rgba(17, 17, 255, 0.87);
  padding-left: 10px;
}

.panel-circle {
  display: flex;
}

.panel-title p {
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #666666;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 1.5rem;
}

.panel-comment p {
  padding: 1.5rem 1.5rem;
  margin: 0;
  line-height: 1.5;
  color: #666666;
}

.panel-head img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
}

.detail {
  width: 100%;
  margin: 0 auto;
  padding: 87px 0 0 0;
  overflow: hidden;
  line-height: 1.5;
}

.detail__imgcontainer {
  margin-bottom: 2.5rem;
}

.detail__imgmain {
  margin: 0 auto;
  position: relative;
  margin-bottom: 4rem;
}

.detail__imgmain::after {
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(0, 0, 0, 0.3);
  /* 自由に位置指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.detail__imgmain img {
  display: block;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.detail__title {
  font-size: 3rem;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  z-index: 1;
  letter-spacing: 5px;
}

.detail__place::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  color: #fafafa;
  font-size: 125%;
  padding: 0 1px;
}

.detail__place {
  font-size: 1.4rem;
  font-weight: 300;
  position: absolute;
  top: 64%;
  left: 50%;
  -ms-transform: translate(-64%, -50%);
  -webkit-transform: translate(-64%, -50%);
  transform: translate(-64%, -50%);
  margin: 0;
  padding: 0;
  color: #fafafa;
  z-index: 1;
  letter-spacing: 2px;
}

.detail__like {
  font-size: 1.4rem;
  font-weight: 300;
  position: absolute;
  top: 74%;
  left: 50%;
  -ms-transform: translate(-74%, -50%);
  -webkit-transform: translate(-74%, -50%);
  transform: translate(-74%, -50%);
  margin: 0;
  padding: 0;
  z-index: 1;
  letter-spacing: 2px;
}

.detail__likecount {
  font-size: 1.4rem;
  font-weight: 300;
  position: absolute;
  top: 74%;
  left: 51%;
  -ms-transform: translate(-74%, -51%);
  -webkit-transform: translate(-74%, -51%);
  transform: translate(-74%, -51%);
  margin: 0;
  padding: 0;
  z-index: 1;
  letter-spacing: 2px;
}

.detail__imgsub {
  display: flex;
}

.detail__writing {
  width: 85%;
  margin: 0 auto;
}

.detail__writing a {
  text-decoration: none;
}

.detail__writing a:hover {
  text-decoration: underline;
}

.detail__writing-profile {
  border: 2px solid #eee;
}

.detail__imgsub img {
  width: 33.4%;
}

@media screen and (max-width: 476px) {
  .detail__title {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
  .detail__likecount {
    left: 53%;
  }
  textarea.comment__message {
    width: 100%;
  }
  .detail__imgsub img {
    max-height: 85px;
    object-fit: cover;
  }
}

.post-date {
  margin-top: 0.5rem;
}

.success_message {
  margin: 0;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: rgba(2, 149, 13, 0.68);
  border: 1px solid rgba(2, 149, 13, 0.68);
}

.comment {
  width: 85%;
  margin: 0 auto;
}

.comment__container {
  line-height: 1.5;
  margin: 2.5rem 0 4rem;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.1);
}

.comment__profile {
  margin-right: 1rem;
}

.comment__backbtn::after {
  content: '';
  display: block;
  background: #eae7e7;
  height: 2px;
  width: 100%;
  margin-top: 3rem;
}

.comment__title {
  display: block;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.comment__message {
  width: 40%;
  height: 5em;
  line-height: 1.5em;
}

.hide {
  display: none;
}

.regist__title {
  margin-top: 0;
}

.regist__container {
  width: 90%;
  margin: 0 auto;
  padding: 87px 30px;
  overflow: hidden;
}

.regist__form {
  margin-top: 4rem;
  width: 100%;
  background-color: white;
  padding: 3rem;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 1.8;
}

input[type="text"].regist-title {
  background: #fafafa;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding: 6px 0 3px 6px;
  transition: border-color 0.5s;
  margin-top: 0;
  margin-bottom: 0.75em;
  width: 100%;
  background-color: white;
  color: #666666;
}

input[type="text"].regist-title:focus {
  border-bottom: 2px solid #29b8fa;
  outline: none;
}

.regist-pref {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px 10px 0;
  margin-bottom: 12px;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #e9e9e9;
}

.regist-pref:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.resist-exp {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #666666;
  font-size: 80%;
}

.inline-radio {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 0.5rem;
  margin-bottom: 12px;
}

.inline-radio input {
  display: none;
}

.inline-radio label {
  display: block;
  float: left;
  cursor: pointer;
  width: 85px;
  margin: 0;
  padding: 12px 5px;
  border-right: 1px solid #abb2b7;
  background: #e7eaeb;
  color: #9b9b9b;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  transition: .2s;
}

.inline-radio label:first-of-type {
  border-radius: 3px 0 0 3px;
}

.inline-radio label:last-of-type {
  border-right: 0px;
  border-radius: 0 3px 3px 0;
}

.inline-radio input[type="radio"]:checked + label {
  background-color: #16fdb6;
  color: #fff;
}

.inline-radio input[type="checkbox"]:checked + label {
  background-color: #16fdb6;
  color: #fff;
}

textarea.regist-contain {
  border-right: 1px solid #abb2b7;
  transition: border-color 0.5s;
  background: transparent;
  margin-top: 0.5rem;
  display: block;
}

textarea.regist-contain:focus,
input[type="text"].maptitle:focus {
  border: 2px solid #29b8fa;
  outline: none;
}

.counter-text {
  margin-top: 0.5rem;
}

.imgDrop {
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
}

.imgDrop-container {
  width: 30%;
}

.map-area {
  height: 50vh;
  display: block;
  width: 60%;
  margin-bottom: 2.5rem;
}

.profile {
  width: 100%;
  margin: 0 auto;
  padding: 87px 0 0 0;
  overflow: hidden;
  line-height: 1.8;
}

.profile__title {
  margin-top: 4rem;
  margin-bottom: 0;
}

.profile__container {
  width: 90%;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}

.profile__form {
  margin-top: 0.5rem;
  width: 100%;
  background-color: white;
  padding: 30px 20px 10px;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 1.8;
}

.profile__form img {
  width: 96px;
  height: 96px;
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.area-drop2 {
  margin-bottom: 15px;
  display: block;
  margin-right: 15px;
  height: 96px;
  background: transparent;
  color: transparent;
  text-align: center;
  line-height: 200px;
  position: relative;
  box-sizing: border-box;
}

.mypage {
  width: 100%;
  margin: 0 auto;
  padding: 87px 0 0 0;
  overflow: hidden;
  line-height: 1.8;
}

.mypage__title {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.8rem;
}

.mypage__title img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #cecdcd;
}

.mypage__title-badge {
  display: block;
  font-weight: 300;
}

.mypage__title-editlink {
  font-size: 80%;
  text-align: center;
  margin-top: 0;
}

.mypage__title-editlink a {
  text-decoration: none;
  color: #666666;
}

.mypage__title-editlink a:hover {
  text-decoration: underline;
  color: #2390af;
  cursor: pointer;
}

.mypage__container {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  border-radius: 8px;
  padding: 1.5rem;
  overflow: hidden;
}

.mypage__panel2, .mypage__favorite {
  width: 80%;
  height: 20%;
  display: flex;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 3rem;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 1.8;
}

.mypage__panel-list2 {
  margin-top: 1.5rem;
  display: none;
}

.panel-head2 {
  width: 30%;
  object-fit: cover;
}

.panel-head2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.panel-body2 {
  padding: 2.5rem;
}

.panel-body2 a {
  padding: 0 2.5rem;
  text-decoration: none;
  color: #666666;
}

.panel-body2 a:hover,
.mypage__panel2:hover,
.mypage__favorite:hover,
.index__panel--container:hover {
  text-decoration: underline;
  color: #2390af;
}

.panel-favorite {
  margin-top: -10px;
  margin-bottom: 0;
  margin-right: 15px;
  text-align: end;
  color: #666666;
}

.panel-favorite::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  color: #fe8a8b;
  font-size: 100%;
  padding: 0 1px;
}

.mypage__favorite-list {
  margin-top: 1.5rem;
  display: none;
}

.msg-slide {
  background-color: rgba(5, 138, 138, 0.7);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 5px;
}

@media screen and (max-width: 476px) {
  .mypage__container {
    padding: 0;
    background-color: #fdfbf1;
  }
  .mypage__panel2,
  .mypage__favorite {
    width: 100%;
  }
  .panel-body2 {
    padding: 0;
  }
  .panel-title {
    margin: 0 0 0 2px;
  }
  .panel-section {
    display: none;
  }
}

.signup-btn {
  position: relative;
  width: 100px;
  height: 100px;
  top: -5rem;
  right: -80rem;
  z-index: 4;
  display: inline-block;
  background-color: #DC143C;
  /*背景色*/
  font-size: 1em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.2rem;
  /*字間*/
  padding: 1.5rem 1rem;
  /*ボタン内の余白*/
  border-radius: 50%;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;
  /*変化を緩やかに*/
}

.signup-btn a {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: -.5em 0 0;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 476px) {
  .signup-btn {
    width: 90px;
    height: 90px;
    top: 4rem;
    right: -37%;
  }
}

.regist-btn {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 5rem;
  right: 2.5rem;
  z-index: 4;
  display: inline-block;
  background-color: #DC143C;
  /*背景色*/
  font-size: 1em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.2rem;
  /*字間*/
  padding: 1.5rem 1rem;
  /*ボタン内の余白*/
  border-radius: 50%;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;
  /*変化を緩やかに*/
}

.regist-btn a {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: -.5em 0 0;
  color: #fff;
  text-decoration: none;
}

.regist-btn:hover {
  /*ホバー時*/
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.5);
  /*浮き上がるように*/
}

.regist-btn:hover,
.signup-btn:hover {
  background-color: #fdfbf1;
}

.regist-btn:hover a,
.signup-btn:hover a {
  color: #DC143C;
}

@media screen and (max-width: 476px) {
  .regist__container {
    width: 100%;
    padding: 87px 10px;
  }
  .regist__form {
    background-color: #fdfbf1;
    padding: 0;
    box-shadow: none;
  }
  .inline-radio {
    overflow: scroll;
  }
  textarea.regist-contain {
    width: 100%;
  }
  .map-area {
    width: 100%;
  }
  .mapserch-btn {
    border: 1px solid #666666;
  }
  input[type="text"].maptitle {
    border: 1px solid #666666;
  }
  input[type="text"].regist-title {
    background-color: #fdfbf1;
  }
  .imgDrop {
    display: block;
  }
  .imgDrop-container {
    width: 100%;
  }
  .area-drop {
    margin-right: 0;
  }
  .mapdit {
    display: none;
  }
}

.pagination {
  display: none;
  margin: 0 auto;
  padding: 0;
  background: #29b8fa;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 50px;
  text-decoration: none;
}

.pagination ul {
  list-style: none;
}

.pagination ul li a {
  vertical-align: middle;
  line-height: 2.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.serchtitle {
  cursor: pointer;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: absolute;
  width: 100%;
  left: -8.5%;
}

.modal__content {
  margin: 50px auto;
  border: 1px solid #000000;
  opacity: 1;
  background: #fff;
  left: 42%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 2;
  overflow-y: auto;
  height: 70vh;
}

.modal__content label {
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.filtered-search-table td {
  height: 20px;
}

.serch-title {
  margin-bottom: 0.5rem;
}

.serct-head {
  text-align: center;
  letter-spacing: 3px;
}

.prefbox,
.emobox,
.seasonbox {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 0.5rem;
}

.prefbox tr label,
.emobox tr td label,
.seasonbox tr td label {
  display: block;
  float: left;
  cursor: pointer;
  width: 85px;
  margin: 0 2px 0 0;
  padding: 12px 5px;
  border-right: 1px solid #abb2b7;
  background: #e7eaeb;
  color: #9b9b9b;
  font-size: 14px;
  text-align: center;
  line-height: 0.5;
  transition: .2s;
}

.prefbox tr td label:first-of-type,
.emobox tr td label:first-of-type,
.seasonbox tr td label:first-of-type {
  border-radius: 4px;
}

.prefbox tr td label:last-of-type,
.emobox tr td label:last-of-type,
.seasonbox tr td label:last-of-type {
  border-right: 0px;
  border-radius: 4px;
}

.prefbox tr td:first-of-type label {
  background-color: #2390af;
  color: #fff;
}

.prefbox tr td input[type="checkbox"]:checked + label {
  background-color: #16fdb6;
  color: #fff;
}

#clear {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding: 1.5rem;
  border: 1px solid #dddbdb;
  margin-top: 2.5rem;
  width: 32%;
  text-align: center;
  transition: 0.3s;
}

#clear:hover {
  background-color: rgba(242, 100, 156, 0.6);
  color: #fff;
}

@media screen and (max-width: 476px) {
  .serch-title {
    margin-bottom: 1.5rem;
  }
  .modal__content {
    width: 101%;
    left: 40%;
    padding: 12px;
    -webkit-overflow-scrolling: touch;
  }
  .modal__content label {
    display: inline-block;
    width: 25%;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
  }
  table {
    display: flex;
    flex-wrap: wrap;
  }
  .modal__bg {
    left: -10.4%;
  }
  .prefbox,
  .emobox {
    overflow: scroll;
    margin-bottom: 1.5rem;
  }
  .prefbox tr label {
    margin-right: 1rem;
  }
  input[type="checkbox"] {
    height: 0;
    padding-top: 0.1rem;
  }
}

.userpage {
  width: 100%;
  margin: 0 auto;
  padding: 87px 0 0 0;
  overflow: hidden;
  line-height: 1.8;
}

.userpage__title {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.8rem;
}

.userpage__title img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #cecdcd;
}

.userpage__title-badge {
  display: block;
  font-weight: 300;
}

.userpage__title-pref {
  text-align: center;
  letter-spacing: 2px;
  margin-left: -10px;
}

.userpage__back {
  display: block;
  width: 100%;
  margin: 0 250px;
  padding: 2.5rem 0;
}

.userpage__back::after {
  border: 2px solid #666666;
}

.userpage__intoro {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 16px;
}

.userpage__pref {
  width: 90%;
  margin: 0 auto;
}

.userpage__container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 3rem;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.userpage__panel {
  width: 30%;
  height: auto;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 3rem;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 1.8;
}

.userpage__panel a,
.userpage__back a {
  text-decoration: none;
  color: #666666;
}

.userpage__panel a:hover,
.userpage__back a:hover {
  text-decoration: underline;
  color: #2390af;
}

.userpage__panel-list2 {
  margin-top: 1.5rem;
  display: none;
}

.map-canvas-display {
  margin: 3rem 0;
  padding: 2.5rem 0;
  height: 250px;
}

.placepoint {
  display: none;
}

.userpage__pref {
  display: block;
  height: 200px;
  padding: 0.5rem;
  margin-bottom: 2.5rem;
}

.userpage__pref input {
  display: none;
}

.userpage__pref input[type="checkbox"] {
  width: 18px;
  height: 15px;
  padding: 16px 8px;
  background: #f6f5f5;
}

.userpage__pref label {
  display: inline-block;
  float: left;
  cursor: pointer;
  width: 85px;
  margin: 0;
  padding: 12px 5px;
  background: #e7eaeb;
  color: #cbcaca;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  transition: .2s;
}

.userpage__pref input[type="checkbox"]:checked + label {
  background-color: #fd166f;
  color: #fff;
}

.prefAll {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

@media screen and (max-width: 476px) {
  .userpage__container {
    width: 100%;
    display: block;
  }
  .userpage__panel {
    width: 90%;
  }
  .userpage__back {
    margin: 0;
  }
  .userpage__pref {
    height: 530px;
    width: 100%;
    margin: 0 10px;
  }
  .userpage__pref label {
    margin: 0 4px 4px 0;
    border-radius: 3px;
    width: 23%;
  }
  .userpage__pref-box {
    margin: 0 auto;
  }
}

.promotion {
  width: 100%;
  letter-spacing: 2px;
}

.promotion__banner-img {
  background-image: url("../img/trip.jpeg");
  width: 100%;
  height: 100vh;
}

.promotion__banner-sentence {
  text-align: center;
  padding: 5rem 0 1.5rem;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.1);
}

.promotion .title {
  font-size: 2.4rem;
  margin-bottom: 70px;
}

.promotion .parag {
  margin: 0.5rem;
  padding: 1.5rem;
  color: #e1eefa;
  border-radius: 8px;
  background-color: rgba(20, 205, 220, 0.5);
  line-height: 2.5;
}

.promotion__btn {
  padding: 1.5rem;
  display: flex;
  width: 40%;
  margin: 0 auto;
}

.promotion__btn--login, .promotion__btn--regist {
  text-align: center;
  display: block;
  margin: 10px auto;
  height: 5rem;
  width: 35%;
  border: none;
  border-radius: 12px;
  background-color: rgba(220, 20, 60, 0.8);
  color: white;
  font-size: 18px;
}

.promotion__btn--login a, .promotion__btn--regist a {
  display: block;
  text-decoration: none;
  color: #fff;
  line-height: 5rem;
  transition: .3s;
}

.promotion__btn--login a:hover, .promotion__btn--regist a:hover {
  text-decoration: none;
  background-color: white;
  color: deeppink;
  border-radius: 12px;
  line-height: 5rem;
}

.promotion__contents {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.promotion__contents-title {
  text-align: center;
}

@media screen and (max-width: 476px) {
  .promotion__banner-img {
    height: 135%;
  }
  .promotion__banner-sentence {
    padding-top: 1.5rem;
  }
  .promotion .title {
    margin-bottom: 20px;
  }
  .promotion__btn {
    display: block;
    width: 90%;
  }
  .promotion__btn--login, .promotion__btn--regist {
    width: 80%;
    margin: 2.5rem auto;
  }
  .promotion__slider-slide {
    min-width: 240px;
    min-height: 180px;
  }
  .promotion__slider-slide img {
    min-width: 240px;
    min-height: 180px;
  }
}

.promotion__slider {
  display: flex;
  width: 100vw;
  height: 200px;
  overflow: hidden;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.promotion__slider-wrap {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(240px * 6);
  height: 100%;
}

.promotion__slider-slide img {
  width: 240px;
  height: 100%;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-240px * 6));
  }
}
