@charset="utf-8"

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300&display=swap&subset=japanese');

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.area-msg {
    color: #f56a5c;
}

.area-drop{
  margin-bottom: 15px;
  display: block;
  margin-right: 15px;
  height: 200px;
  background: #f6f5f4;
  color: #8d8a8a;
  text-align: center;
  line-height: 200px;
  position: relative;
  box-sizing: border-box;
}

.input-file{
  opacity:0;
  width:100%;
  height:150px;
  position:absolute;
  color: #8d8a8a;
  top:0;
  left:0;
  z-index: 2; /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる*/}

.prev-img{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

.btn-container {
    width: 100%;
}

.heading {
    color: #5b5d5d;
    letter-spacing: 2px;
}

.heading a {
  margin: 10px 10px 10px;
  display: block;
  color: #04383b;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: 100;
}

.sign-btn {
    letter-spacing: 4px;
}

#footer {
    height: 50px;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    background: linear-gradient(-45deg, #f4f4ff, rgba(221, 221, 222, 0.74));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

label.err input {
    background: #f8cbc6;
}

input[type="text"]:first-of-type {
    margin-top: 12px;
}
/*

input[type="text"].first-text {
    margin-top: 32px;
}
*/


input[type="checkbox"] {
    width: 18px;
    height: 15px;
    padding: 16px 8px;
    background: #f6f5f5;
}

input[type="submit"] {
    width: 70%;
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    border: none;
    background: #29b8fa;
    color: white;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: rgba(41, 184, 250, 0.5);
    transition: 0.5s;
}
.link a {
    position: relative;
    display: inline;
    transition: .3s;
    margin: 0 10px 30px;
    color: #e8fdfd;
    text-decoration: none;
    letter-spacing: 4px;
}

.link a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background: #acb6e5;
    transition: .3s;
    transform: translateX(-50%);
}

.link a:hover::after {
    width: 100%;
}

.count{
  color: #fe8a8b;
}

.touroku {
    height: 140vh;
}

.sec1 {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 30px;
    margin-top: 20px;
}

.claside {
    width: 30%;
    padding: 50px 20px;
}

.catebox {
    padding: 10px 5px;
}

.serch-rst {
    padding: 10px;
    color: #48b400;
    border-radius: 10px;
    border: 1px solid #4dc100;
    
}

.rst-style {
    font-weight: 700;
    font-size: 1.1rem;
}

.rst-title {
    font-size: 1.1rem;
    color: azure;
    text-decoration: none;
    margin: 0;
}
.show{
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup{
    display: none;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
}

.filtered-search-panel {
    width: 920px;
    margin:100px auto;
    border: 1px solid #000000;
    background: #FFFFFF;
    z-index: 2;
    opacity: 1;
}

.filtered-search-table td {
  height: 20px;
}

input[type="text"].regist {
    width: 90%;
    margin-top: 3px;
    margin-bottom: 18px;
}

input[type="text"].hide,
input[type="submit"].hide {
    display: none;
    margin: 20px 0;
}

#map_canvas{
  height: 30%;
}

.fa-times{
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 10px;
}

.label-require{
  display: inline-block;
  padding: .2em .6em .3em;
  margin: 0 0 .2em .3em;
  font-size: 68%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  background-color: #ff2700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .30em;
}